<!doctype html>
<html lang="en" data-framework="marionettejs">
	<head>
		<meta charset="utf-8">
		<title>Marionette • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<section id="todoapp">
			<header id="header"></header>
			<section id="main"></section>
			<footer id="footer"></footer>
		</section>
		<footer id="info">
			<p>Double-click to edit a todo</p>
			<p>
				Created by <a href="http://github.com/jsoverson">Jarrod Overson</a>
				and <a href="http://github.com/derickbailey">Derick Bailey</a>
				using <a href="http://marionettejs.com">Backbone.Marionette</a>
			</p>
			<p>See who else is using marionette at <a href="http://marionettejs.com/">marionettejs.com</a>.</p>
		</footer>
		<script type="text/html" id="template-footer">
			<span id="todo-count">
				<strong><%= activeCount %></strong> <%= activeCountLabel() %>
			</span>
			<ul id="filters">
				<li class="all">
					<a href="#/">All</a>
				</li>
				<li class="active">
					<a href="#/active">Active</a>
				</li>
				<li class="completed">
					<a href="#/completed">Completed</a>
				</li>
			</ul>
			<button id="clear-completed" <% if (!completedCount) { %>class="hidden"<% } %>>Clear completed</button>
		</script>
		<script type="text/html" id="template-header">
			<h1>todos</h1>
			<img name="image" src="./images/newbie.jpg" alt="home image" width="100px" height="100px" class="home_image">
			<input name="new-todo" id="new-todo" placeholder="What needs to be done?" autofocus>
		</script>
		<script type="text/html" id="template-todoItemView">
			<div class="view">
				<input class="toggle" type="checkbox" <% if (completed) { %>checked<% } %>>
				<label><%- title %></label>
				<button class="destroy"></button>
			</div>
			<input class="edit" value="<%- title %>">
		</script>
		<script type="text/html" id="template-todoListView">
			<input id="toggle-all" type="checkbox">
			<label for="toggle-all">Mark all as complete</label>
			<ul></ul>
		</script>
		<!-- vendor libraries -->
		<script src="node_modules/todomvc-common/base.js"></script>
		<script src="node_modules/jquery/dist/jquery.js"></script>
		<script src="node_modules/underscore/underscore.js"></script>
		<script src="node_modules/backbone/backbone.js"></script>
		<script src="node_modules/backbone.localstorage/backbone.localStorage.js"></script>
		<script src="node_modules/backbone.radio/build/backbone.radio.js"></script>
		<script src="node_modules/backbone.marionette/lib/backbone.marionette.js"></script>
		<!-- application -->
		<script src="js/TodoMVC.Application.js"></script>
		<script src="js/TodoMVC.Todos.js"></script>
		<script src="js/TodoMVC.Layout.js"></script>
		<script src="js/TodoMVC.TodoList.Views.js"></script>
		<script src="js/TodoMVC.Router.js"></script>
		<script src="js/TodoMVC.FilterState.js"></script>
		<script src="js/TodoMVC.js"></script>
	</body>
</html>
